[Unit]
Description=Server for controlling keypad
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/TJU/
ExecStart=/usr/bin/python /home/pi/Documents/TJU/TelnetServer.py
ExecStop=/usr/bin/python /home/pi/Documents/TJU/TelnetServerStop.py
TimeoutStopSec=60
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
