[Unit]
Description=Server for controlling TJU experimental lighting fixtures
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Documents/TJU/
ExecStart=/usr/bin/python /home/pi/Documents/TJU/main.py
ExecStop=/usr/bin/python /home/pi/Documents/TJU/ControlServerStop.py
TimeoutStopSec=60
Restart=always
RestartSec=5

[Install]
WantedBy=multi-usr.target
